body{
    justify-content: center;
    text-align: center;
    background-color: rgba(9, 5, 63, 0.566);
}

.container{
   
    justify-content: center;
    text-align: center;
    background: rgba(229, 234, 231, 0.338);
    width: 25%;
    height: 18cm;
    margin-top: 0.5cm;
    padding: 20;
    margin-left: 550px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(17, 19, 111, 0.3);
    border-radius: 10%;
    
}

h1{
    margin-bottom: 10px;
    padding: 20px;
}

.a{
    margin-bottom:15px ;   
}

.b{ 
    margin-left: 70px;
    padding-right:250px ; 
}

.c{
    margin-left: 75px;
    padding-right: 260px;
}

.d{
    margin-left: 75px;
    padding-right: 230px;
}

.e{
   
    margin-left: 75px;
    padding-right: 240px;
}

.gen{
  
    margin-left: 0px;
    margin-right:170px;
}


.date{
    
    margin-left: 75px;
   
    padding-right:260px ;
}


#name,#email,#dob,#phn{
    width: 220px;
    height: 30px; 
    border-radius: 10px;  
}
#ads{
    width: 220px;
    height: 50px;
    border-radius: 10px;   
}

#sub{
    margin-bottom: 0px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    font-weight: 800;
    background-color: aqua;
    
}

#res{
    width: 140px;
    height: 30px;
    border-radius: 10px;
    font-weight: 800;
    background-color: blueviolet;
}